.page-top {
  background-image: url("../image/company/page_top.jpg");
}
.title {
  margin-top: 50px;
}
.sub-title {
  margin-bottom: 20px;
}
.society-description {
  border: 1px solid #60b49f;
  padding: 60px;
}
.recruitment {
  margin-top: 50px;
}
.recruitment > p {
  margin-bottom: 20px;
}
.recruitment-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #60b49f;
  display: flex;
  align-items: center;
}
.recruitment-type {
  background: #58595a;
  color: white;
  font-size: 16px;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.recruitment-title {
  font-size: 24px;
}
.bg-gray {
  background-color: #eeece8;
}
.no-padding {
  padding: 0px !important;
}

@media (max-width: 1199px) {
  .page-introduce .introduce-navigation2 {
    flex-direction: column;
    gap: 10px;
  }

  #company-profile {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  #company-profile .society-description {
    padding: 20px 30px;
    font-size: 14px;
    line-height: 2;
  }

  #compnay-profile .recruitment .information-two-column-table td {
    font-size: 15px;
    line-height: 2;
  }

  #job-offer {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-body {
    max-width: 900px !important;
    margin: auto;
  }
}

@media (max-width: 575px) {
  .page-introduce .introduce-navigation2 {
    flex-direction: column;
    gap: 10px;
  }

  #company-profile {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  #company-profile .society-description {
    padding: 20px 30px;
    font-size: 14px;
    line-height: 2;
  }

  #compnay-profile .recruitment .information-two-column-table td {
    font-size: 15px;
    line-height: 2;
  }

  #job-offer {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
