.page-top {
  background-image: url("../image/contact/page_top.jpg");
}

.contact-info {
  font-size: 28px;
  line-height: 62px;
  color: #b7282e;
  margin: 32px 0px 48px 0px;
  text-align: center;
}

.contact-number {
  font-size: 42px;
}

.contact-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 32px;
}

.contact-item {
  margin-right: 20px;
}

.contact-item:last-child {
  margin-right: 0px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content img {
  width: 200px;
  margin-right: 64px;
}

@media (max-width: 575px) {
  .page-introduce {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .introduce-content {
    font-size: 15px;
  }

  .page-body .section-title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-info,
  .contact-info span {
    font-size: 25px;
  }

  .contact-list {
    flex-direction: column;
  }

  .contact-list .contact-item {
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-conent img {
    margin-right: 0;
  }

  .contact-content p {
    padding-left: 10px;
    padding-right: 10px;
  }
}