.footer-section1 {
  background-color: #dedad2;
  padding: 64px 0px;
  display: flex;
}

.footer-section1 img {
  width: 345px;
  height: 200px;
}

.footer-section2 {
  height: 610px;
  background-image: url("../image/headerfooter/footer_section2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-section3 {
  height: 800px;
  background-image: url("../image/headerfooter/footer_section3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-section3-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.footer-section3 a {
  text-decoration: none;
  color: black;
}

.footer-section3-top {
  padding-top: 192px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 240px;
}

.footer-link-list1,
.footer-link-list2 {
  font-size: 16px;
  line-height: 36px;
}

.footer-reservation {
  border: 2px solid #60b49f;
  padding: 20px;
}

.footer-section3-bottom {
  margin-bottom: 64px;
  text-align: center;
  color: white;
}

.footer-section4 {
  margin-top: 64px;
}

.footer-section4 img {
  width: 300px;
  height: auto;
  margin-right: 10px;
}

.slick-dots {
  bottom: -50px !important;
}

.slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  border: 1px solid #60B49F !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

.slick-dots li button::before {
  content: '' !important;
}

.slick-dots li.slick-active button {
  background-color: #60B49F !important;
}

.footer-xs {
  display: none;
}


@media (max-width: 575px) {
  .footer-lg {
    display: none;
  }

  .footer-xs {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    padding-bottom: 192px;
  }

  .footer-xs .plan-box {
    padding: 64px 0;
    background-color: #ABCED8;
    display: flex;
    flex-direction: column;
  }

  .footer-xs .plan-box>.title {
    padding-left: 15px;
  }

  .footer-xs .plan-box>.title .title-en {
    font-size: 23px;
  }

  .footer-xs .plan-box>.title .title-jp {
    font-size: 20px;
    margin-left: 10px;
  }

  .footer-xs .plan-box .food-carousel {
    margin-top: 48px;
  }

  .footer-xs .plan-box .food-carousel .food-carousel-item {
    margin-left: 10px;
    width: 250px;
  }

  .footer-xs .plan-box .food-carousel .food-carousel-item img {
    width: 100%;
    height: auto;
  }

  .footer-xs .plan-box .food-carousel .food-carousel-item .text {
    background-color: white;
    font-size: 14px;
  }

  .footer-xs .plan-box .reservation {
    margin-top: 30px;
    padding: 0 10px;
    width: 100%;
  }

  .footer-xs .plan-box .reservation .box {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .footer-xs .plan-box .reservation .box .yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: chocolate;
    color: white;
    padding: 10px 5px;
  }

  .footer-xs .plan-box .reservation .box .yellow-box .best-mark {
    width: 30px;
    height: auto;
    object-fit: cover;
  }

  .footer-xs .plan-box .reservation .box .yellow-box .text1 {
    font-size: 16px;
    line-height: 28px;
  }

  .footer-xs .plan-box .reservation .box .yellow-box .text2 {
    font-size: 11px;
    line-height: 12px;
  }


  .footer-xs .plan-box .reservation .box .red-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 12px;
  }

  .footer-xs .topic-box {
    display: flex;
    flex-direction: column;
    padding: 64px 0;
  }

  .footer-xs .topic-box>.title {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-left: 10px;
  }

  .footer-xs .topic-box>.title .title-en {
    font-size: 20px;
  }

  .footer-xs .topic-box>.title .title-jp {
    font-size: 13px;
  }

  .footer-xs .topic-box>.image-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-xs .topic-box>.image-box .image-box-item {
    width: 80%;
    height: 200px;
    position: relative;
    color: white;
  }

  .footer-xs .topic-box>.image-box .image-box-item.instagram {
    background-image: url('/assets/image/headerfooter/footer_section1_2.jpg');
    background-size: cover;
  }

  .footer-xs .topic-box>.image-box .image-box-item.blog {
    background-image: url('/assets/image/headerfooter/footer_section1_3.jpg');
    background-size: cover;
  }

  .footer-xs .topic-box>.image-box .image-box-item>.title {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  .footer-xs .topic-box>.image-box .image-box-item>.title .first-line {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-xs .topic-box>.image-box .image-box-item>.title .first-line span {
    font-size: 20px;
  }

  .footer-xs .topic-box>.image-box .image-box-item>.title .second-line {
    font-size: 15px;
    line-height: 20px;
  }

  .footer-xs .topic-box>.image-box .image-box-item img {
    width: 24px;
    height: auto;
  }

  .footer-xs .topic-box>.image-box .image-box-item .more-button {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 2px solid white;
    position: absolute;
    bottom: 20px;
    right: 0;
  }

  .footer-xs .topic-box>.image-box .image-box-item .more-button span {
    font-size: 15px;
  }

  .footer-xs .img1 {
    width: 100%;
    height: auto;
  }

  .footer-xs .contact {
    padding-top: 192px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
  }

  .footer-xs .contact>img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-xs .contact>.header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .footer-xs .contact>.header .logo-image {
    width: 50%;
    height: auto;
  }

  .footer-xs .contact>.header .address {
    margin-top: 30px;
    font-size: 19px;
    line-height: 39px;
  }

  .footer-xs .contact>.header .instagram-icon {
    width: 15px;
    height: auto;
  }

  .footer-xs .contact .reservation {
    margin-top: 64px;
    border: 2px solid #60B49F;
    padding: 10px;
    z-index: 10;
  }

  .footer-xs .contact .reservation .title {
    color: #60B49F;
    display: flex;
    align-items: baseline;
    gap: 20px;

  }

  .footer-xs .contact .reservation .title .text-reservation {
    font-size: 18px;
    line-height: 38px;
  }

  .footer-xs .contact .reservation .title .text1 {
    font-size: 12px;
    line-height: 36px;
  }

  .footer-xs .contact .reservation .box {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .footer-xs .contact .reservation .box .yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: chocolate;
    color: white;
    padding: 10px 5px;
  }

  .footer-xs .contact .reservation .box .yellow-box .best-mark {
    width: 30px;
    height: auto;
    object-fit: cover;
  }

  .footer-xs .contact .reservation .box .yellow-box .text1 {
    font-size: 16px;
    line-height: 28px;
  }

  .footer-xs .contact .reservation .box .yellow-box .text2 {
    font-size: 11px;
    line-height: 12px;
  }


  .footer-xs .contact .reservation .box .red-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 12px;
  }

  .footer-xs .contact .reservation .box .text {
    margin-top: 30px;
    font-size: 14px;
    color: #2E2F31;
    text-align: center;
  }

  .footer-xs .contact .copyright {
    margin-top: 200px;
    color: white;
    font-size: 12px;
    z-index: 10;
  }

  .footer-xs .bottom-slider {
    margin-top: 64px;
  }

  .footer-xs .bottom-slider img {
    width: 300px;
    height: auto;
    margin-right: 10px;
  }
}
