.page-top {
  width: 100%;
  height: calc(100vh - 74px) !important;
  background-image: url('../image/index/0L9A9930.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-top>.title {
  font-size: 36px;
}

.page-top>.title-xs {
  text-align: center;
  display: none;
  /* font-size: 54px; */
  font-size: 30px;
}

.page-top>.subtitle {
  font-size: 28px;
  margin-top: 30px;
}

.page-top>.title,
.page-top>.subtitle,
.page-top>.title-xs {
  color: white;
  text-shadow: 0 0 10px black;
}

.page-top img.logo {
  margin-top: 50px;
  width: 300px;
  height: auto;
}

.page-introduce {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url('../image/index/introduce-background.png') !important;
  background-size: cover;
}

.page-introduce .title {
  font-size: 48px;
  opacity: .5;
}

.page-introduce .subtitle {
  margin-top: 16px;
  font-size: 24px;
}

.page-introduce .title,
.page-introduce .subtitle {
  color: white;
  text-shadow: 0 0 5px black;
}

.page-introduce .semi-bold {
  margin-top: 96px;
  font-size: 24px;
  line-height: 58px;
}

.page-introduce .description {
  font-size: 18px;
  line-height: 58px;
}

.page-body .section1 {
  background-image: url('../image/index/body-background.png');
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
}

.page-body .omotenashi-en {
  font-size: 48px;
  margin-top: 96px;
}

.page-body .omotenashi-jp {
  margin-top: 16px;
  font-size: 24px;
}

.page-body .omotenashi-en,
.page-body .omotenashi-jp,
.page-body .cuisine-title,
.page-body .description {
  color: white;
  z-index: 15;
  text-shadow: 0 0 5px black;
}

.page-body .section1 .cuisine-title {
  font-size: 18px;
  margin-top: 96px;
}

.page-body .section1 .white-point {
  width: 30px;
  height: auto;
  margin-top: 16px;
}

.page-body .section1 .description {
  font-size: 28px;
  line-height: 58px;
  margin-top: 16px;
}


.page-body .food-image {
  width: 1080px;
  height: 500px;
  margin: auto;
  background-image: url('../image/index/0L9A9930.jpg');
  background-size: cover;
  position: relative;
  top: -200px;
}

.page-body .section2 {
  display: flex;
  gap: 5px;
  margin-bottom: 48px;
  max-width: 1000px;
  margin: auto;
  margin-top: -160px;
}

.page-body .section2 .left-part {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 50%;
  min-width: 50%;
}

.page-body .section2 .left-part p {
  margin-left: 130px;
}

.page-body .section2 .images {
  display: flex;
  gap: 5px;
  width: 100%;
  /* height: 100%; */
  margin-top: 30px;
  padding: 10px;
}

.page-body .section2 .images img {
  width: 50%;
  height: auto;
}

.page-body .section2 .images img:first-child {
  margin-top: 64px;
}

.page-body .section2 .images img:last-child {
  margin-bottom: 64px;
}

.page-body .section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-body .section3 .default-button {
  margin-top: 48px;
}

.page-body .section3 .title {
  font-size: 18px;
  margin-top: 96px;
}

.page-body .section3 .green-point {
  width: 25px;
  margin-top: 16px;
}

.page-body .section3 .subtitle {
  font-size: 28px;
  line-height: 58px;
  margin-top: 16px;
}

.page-body .section3 .title,
.page-body .section3 .subtitle {
  color: #2E2F31;
}

.page-body .section3 #bed-image {
  width: 1000px;
  height: 400px;
  background-image: url('../image/index/0L9A0211.jpg');
  background-size: cover;
  margin-bottom: 64px;
}

.page-body .section4 {
  display: flex;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 48px;
}

.page-body .section4>.text {
  width: 50%;
  min-width: 50%;
  padding-left: 200px;
}

.page-body .section4 .images {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.page-body .section4 .images img:nth-child(1) {
  margin-top: 64px;
  width: 50%;
  height: auto;
  object-fit: contain;
}

.page-body .section4 .images img:nth-child(2) {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.page-body .section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-body .section5 .button-default {
  margin-bottom: 96px;
}

.page-body .section5 .green-point {
  width: 25px;
  margin-top: 16px;
}

.page-body .section5 .subtitle {
  font-size: 28px;
  line-height: 58px;
  margin-top: 16px;
}

.page-body .section5 .title,
.page-body .section5 .subtitle {
  color: #2E2F31;
}

.page-body .section6 .background-image {
  width: 100%;
  height: 500px;
  background-image: url('../image/index/0L9A0330.jpg');
  background-size: cover;
  margin-top: -248px;
}

.page-body .section7 {
  background-image: url('../image/index/body-background.png');
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 200px;
  padding-right: 200px;
  gap: 20px;
  position: relative;
}

.page-body .section7 .map {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 600px;
  background-image: url('../image/index/map.png');
  background-size: cover;
}

.page-body .section7 .left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-body .section7 .left-part .image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
  background-image: url('../image/index/pixta_53812173_M.jpg');
  background-size: cover;
}

.page-body .section7 .left-part .image .button-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  padding: 10px;
  gap: 20px;
  color: white;
  background-color: rgba(30, 30, 30, 6);
}

.page-body .section7 .right-part {
  width: 50%;
}

.page-body .section7 .right-part .text {
  width: 80%;
  margin-bottom: 300px;
}

.page-body .section8 {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-body .section8 .text-experience {
  color: darkgray;
  font-size: 48px;
  line-height: 84px;
}

.page-body .section8 .description {
  color: black;
  font-size: 24px;
}

.page-body .section9 {
  margin-top: 20px;
  display: flex;
  gap: 20px
}

.page-body .section9 .left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.page-body .section9 .left-part .image {
  background-image: url('../image/index/0L9A0145.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 400px;
}

.page-body .section9 .left-part .image .title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  font-size: 28px;
  line-height: 58px;
}

.page-body .section9 .left-part .subtitle {
  background-color: #60B49F;
  color: white;
  width: 300px;
  text-align: center;
}

.page-body .section9 .left-part .description {
  color: black;
  font-size: 18px;
  line-height: 38px;
  max-width: 400px;
  margin-top: 32px;
}

.page-body .section9 .right-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.page-body .section9 .right-part .image {
  background-image: url('../image/index/0L9A0743.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
}

.page-body .section9 .right-part .image .title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  font-size: 28px;
  line-height: 58px;
}

.page-body .section9 .right-part .subtitle {
  background-color: #60B49F;
  color: white;
  width: 300px;
  text-align: center;
}

.page-body .section9 .right-part .description {
  color: black;
  font-size: 18px;
  line-height: 38px;
  max-width: 400px;
  margin-top: 32px;
}

/* .experience-slider .slick-list {
  
} */

.experience-slider .slider-item {
  height: 480px;
  width: 380px;
  margin-left: 10px;
}

.experience-slider .item1 {
  width: 790px;
}

.experience-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience-slider .item3 {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

.experience-slider .item3 img {
  height: 50%;
}

.experience-slider .item2,
.experience-slider .item4 {
  /* position: relative;
  top: 60px; */
  margin-top: 60px;
}

.header-menu {
  cursor: pointer;
}

.hamburger {
  width: 20px;
  line-height: 0;
  display: inline-block;
}

.hamburger span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #555;
  margin: 1px 0;
}

.page-body .section1 .variable-width img {
  width: 300px;
  height: auto;
}

@media (max-width: 1199px) {
  .page-top {
    height: 100vh !important;
    justify-content: flex-start !important;
  }

  .page-top .title {
    display: none;
  }

  .page-top .title-xs {
    display: block;
  }

  .page-top .title-xs.date {
    margin-top: 50px;
  }

  .page-top .subtitle {
    font-size: 20px;
    text-align: center;
  }

  .page-top img.logo {
    margin-top: 10px;
    width: 200px;
  }

  .page-introduce {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .page-introduce .title {
    font-size: 30px;
  }

  .page-introduce .subtitle {
    font-size: 16px;
  }

  .page-introduce .semi-bold {
    font-size: 16px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-introduce .description {
    font-size: 15px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-body .section1 .button-default {
    max-width: 300px;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section1 .omotenashi-en {
    font-size: 35px;
  }

  .page-body .section1 .omotenash-ja {
    font-size: 25px;
  }

  .page-body .section1 .description {
    font-size: 23px;
  }

  .page-body .food-image {
    height: 400px;
    max-width: 80%;
  }

 .page-body .section2 {
    max-width: 800px;
  }

  .page-body .section3 .button-default {
    max-width: 300px;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section3 .subtitle {
    font-size: 23px;
    line-height: 38px;
  }

  .page-body .section3 #bed-image {
    margin-top: 48px;
  }

  .page-body .section3 #bed-image {
    width: 80%;
    height: 400px;
  }

  .page-body .section4 {
    max-width: 800px;
  }

  .page-body .section4>.text {
    padding-left: 50px;
  }

  .page-body .section5 .subtitle {
    font-size: 23px;
    line-height: 35px;
  }

  .page-body .section5 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section6 .background-image {
    height: 300px;
  }

  .page-body .section7 {
    padding: 0;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }

  .page-body .section7 .right-part {
    width: 100%;
    padding: 48px 10px;
  }

  .page-body .section7 .right-part .text {
    width: 100%;
    margin-bottom: 320px;
  }

  .page-body .section7 .left-part {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    height: 470px;
  }

  .page-body .section7 .left-part .image .button-box {
    font-size: 10px;
    height: 44px;
    padding: 0 10px;
    left: 10px;
    width: fit-content;
  }

  .page-body .section7 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
    min-height: 55px;
    margin: auto;
  }

  .page-body .section7 .map {
    width: 100%;
    height: 680px;
    top: 150px;
  }

  .page-body .section8 .text-experience {
    line-height: 84px;
  }

  .page-body .section8 .description {
    font-size: 19px;
  }

  .experience-slider {
    margin-top: 48px;
  }

  .page-body .section9 {
    flex-direction: column;
  }

  .page-body .section9 .left-part,
  .page-body .section9 .right-part {
    width: 100%;
    align-items: center;
  }

  .page-body .section9 .left-part .image,
  .page-body .section9 .right-part .image {
    justify-content: center;
  }

  .page-body .section9 .left-part .subtitle,
  .page-body .section9 .right-part .subtitle {
    position: relative;
    top: -18px;
  }

  .page-body .section9 .right-part .description,
  .page-body .section9 .left-part .description {
    margin-top: 0;
    padding: 0 10px;
  }

  .button-default {
    max-width: 300px !important;
  }
}

@media (max-width: 767px) {
  .page-top {
    height: 100vh !important;
    justify-content: flex-start !important;
  }

  .page-top .title {
    display: none;
  }

  .page-top .title-xs {
    display: block;
  }

  .page-top .title-xs.date {
    margin-top: 50px;
  }

  .page-top .subtitle {
    font-size: 20px;
    text-align: center;
  }

  .page-top img.logo {
    margin-top: 10px;
    width: 200px;
  }

  .page-introduce {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .page-introduce .title {
    font-size: 30px;
  }

  .page-introduce .subtitle {
    font-size: 16px;
  }

  .page-introduce .semi-bold {
    font-size: 16px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-introduce .description {
    font-size: 15px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-body .section1 .button-default {
    max-width: 300px;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section1 .omotenashi-en {
    font-size: 35px;
  }

  .page-body .section1 .omotenash-ja {
    font-size: 25px;
  }

  .page-body .section1 .description {
    font-size: 23px;
  }

  .page-body .food-image {
    height: 100vw;
    width: 100%;
  }

  .page-body .section2 {
    flex-direction: column;
  }

  .page-body .section2 .left-part {
    padding: 0 10px;
    margin-left: 0;
    width: 100%;
  }

  .page-body .section2 .left-part p {
    margin-left: 0;
  }

  .page-body .section2 .images img:first-child {
    margin-top: 40px;
  }

  .page-body .section2 .images img:last-child {
    margin-bottom: 40px;
  }

  .page-body .section2 .right-part {
    padding: 0 10px;
  }

  .page-body .section3 .button-default {
    max-width: 300px;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section3 .subtitle {
    font-size: 23px;
    line-height: 38px;
  }

  .page-body .section3 #bed-image {
    margin-top: 48px;
  }

  .page-body .section3 #bed-image {
    width: 100%;
    height: 250px;
  }

  .page-body .section4 {
    flex-direction: column;
  }

  .page-body .section4>.text {
    width: 100%;
    padding: 0 10px;
  }

  .page-body .section5 .subtitle {
    font-size: 23px;
    line-height: 35px;
  }

  .page-body .section5 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section6 .background-image {
    height: 300px;
  }

  .page-body .section7 {
    padding: 0;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }

  .page-body .section7 .right-part {
    width: 100%;
    padding: 48px 10px;
  }

  .page-body .section7 .right-part .text {
    width: 100%;
    margin-bottom: 320px;
  }

  .page-body .section7 .left-part {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    height: 470px;
  }

  .page-body .section7 .left-part .image .button-box {
    font-size: 10px;
    height: 44px;
    padding: 0 10px;
    left: 10px;
    width: fit-content;
  }

  .page-body .section7 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
    min-height: 55px;
    margin: auto;
  }

  .page-body .section7 .map {
    width: 100%;
    height: 680px;
    top: 150px;
  }

  .page-body .section8 .text-experience {
    line-height: 84px;
  }

  .page-body .section8 .description {
    font-size: 19px;
  }

  .experience-slider {
    margin-top: 48px;
  }

  .page-body .section9 {
    flex-direction: column;
  }

  .page-body .section9 .left-part,
  .page-body .section9 .right-part {
    width: 100%;
    align-items: center;
  }

  .page-body .section9 .left-part .image,
  .page-body .section9 .right-part .image {
    justify-content: center;
  }

  .page-body .section9 .left-part .subtitle,
  .page-body .section9 .right-part .subtitle {
    position: relative;
    top: -18px;
  }

  .page-body .section9 .right-part .description,
  .page-body .section9 .left-part .description {
    margin-top: 0;
    padding: 0 10px;
  }

  .button-default {
    max-width: 300px !important;
  }
}

@media (max-width: 575px) {
  .page-top {
    height: 100vh !important;
    justify-content: flex-start !important;
  }

  .page-top .title {
    display: none;
  }

  .page-top .title-xs {
    display: block;
  }

  .page-top .title-xs.date {
    margin-top: 50px;
  }

  .page-top .subtitle {
    font-size: 20px;
    text-align: center;
  }

  .page-top img.logo {
    margin-top: 10px;
    width: 200px;
  }

  .page-introduce {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .page-introduce .title {
    font-size: 30px;
  }

  .page-introduce .subtitle {
    font-size: 16px;
  }

  .page-introduce .semi-bold {
    font-size: 16px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-introduce .description {
    font-size: 15px;
    line-height: 25px;
    text-shadow: 0 0 15px white;
  }

  .page-body .section1 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section1 .omotenashi-en {
    font-size: 35px;
  }

  .page-body .section1 .omotenash-ja {
    font-size: 25px;
  }

  .page-body .section1 .description {
    font-size: 23px;
  }

  .page-body .food-image {
    height: 100vw;
    width: 100%;
  }

  .page-body .section2 {
    flex-direction: column;
  }

  .page-body .section2 .left-part {
    padding: 0 10px;
    margin-left: 0;
    width: 100%;
  }

  .page-body .section2 .left-part p {
    margin-left: 0;
  }

  .page-body .section2 .images img:first-child {
    margin-top: 40px;
  }

  .page-body .section2 .images img:last-child {
    margin-bottom: 40px;
  }

  .page-body .section2 .right-part {
    padding: 0 10px;
  }

  .page-body .section3 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section3 .subtitle {
    font-size: 23px;
    line-height: 38px;
  }

  .page-body .section3 #bed-image {
    margin-top: 48px;
  }

  .page-body .section3 #bed-image {
    width: 100%;
    height: 250px;
  }

  .page-body .section4 {
    flex-direction: column;
  }

  .page-body .section4>.text {
    width: 100%;
    padding: 0 10px;
  }

  .page-body .section5 .subtitle {
    font-size: 23px;
    line-height: 35px;
  }

  .page-body .section5 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
  }

  .page-body .section6 .background-image {
    height: 300px;
  }

  .page-body .section7 {
    padding: 0;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }

  .page-body .section7 .right-part {
    width: 100%;
    padding: 48px 10px;
  }

  .page-body .section7 .right-part .text {
    width: 100%;
    margin-bottom: 320px;
  }

  .page-body .section7 .left-part {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    height: 300px;
  }

  .page-body .section7 .left-part .image .button-box {
    font-size: 10px;
    height: 44px;
    padding: 0 10px;
    left: 10px;
  }

  .page-body .section7 .button-default {
    width: 80%;
    font-size: 12px;
    height: 55px;
    min-height: 55px;
    margin: auto;
  }

  .page-body .section7 .map {
    width: 370px;
    height: 680px;
    top: 150px;
  }

  .page-body .section8 .text-experience {
    line-height: 84px;
  }

  .page-body .section8 .description {
    font-size: 19px;
  }

  .experience-slider {
    margin-top: 48px;
  }

  .page-body .section9 {
    flex-direction: column;
  }

  .page-body .section9 .left-part,
  .page-body .section9 .right-part {
    width: 100%;
    align-items: center;
  }

  .page-body .section9 .left-part .image,
  .page-body .section9 .right-part .image {
    justify-content: center;
  }

  .page-body .section9 .left-part .subtitle,
  .page-body .section9 .right-part .subtitle {
    position: relative;
    top: -18px;
  }

  .page-body .section9 .right-part .description,
  .page-body .section9 .left-part .description {
    margin-top: 0;
    padding: 0 10px;
  }
}

